html {
  font-family: 'Nunito';
  box-sizing: border-box;
}

body {
  background-color: #15202B;
  color: white;
}

.boards {
  display: flex;
  margin-top: 32px;
}

.board {
  background-color: #141316;
  border: 1px solid #FD951F1D;
  border-radius: 4px;
  margin: 0 16px;
}

.board h3 {
  padding: 16px;
  margin: 0;
  color: #FD951Fcc;
  text-align: left;
}

.dropzone {
  padding: 16px;
  min-width: 282px;
  min-height: 200px;
}

.card {
  background-color: #1a1a1c;
  padding: 16px;
  box-shadow: 0 2px 2px -1px #FD951Fcc;
  width: 250px;
  margin: 25px 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
}

.status {
  width: 30px;
  height: 8px;
  background-color: gray;
  margin-bottom: 16px;
  border-radius: 8px;
}

.status.green {
  background-color: rgb(29, 163, 29);
}

.status.blue {
  background-color: rgb(12, 116, 235);
}

.status.red {
  background-color: rgba(255, 0, 0, 0.87);
}